{% extends 'base.html' %} {% block content %}

<h2>Add a recipe</h2>
<!--form for adding a recipe to the database-->
<form action="{{ url_for('insert_recipe') }}" method="POST" class="new-recipe">
  <div class="form-row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <label for="recipe_name">Recipe Name: </label>
      <input type="text" class="form-control" name="recipe_name" id="recipe_name" placeholder="Recipe Name" required>
    </div>
  </div>
  <div class="form-row">
    <div class="col-sm-12 col-md-12 col-lg-6">
      <label for="image_url">Recipe image URL:</label>
      <input type="text" class="form-control" name="image_url" id="image_url" placeholder="https://recipes.com/image/" required>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6">
      <label for="author">Recipe Author: </label>
      <input type="text" class="form-control" name="author" id="author" placeholder="Recipe Author" required>
    </div>
  </div>
  <div class="form-row">
    <div class="col-sm-12 col-md-5 col-lg-4">
      <label for="prep_time">Prep Time: </label>
      <input type="text" class="form-control" name="prep_time" id="prep_time" placeholder="30mins-1hour" required>
    </div>
    <div class="col-sm-12 col-md-5 col-lg-4">
      <label for="cook_time">Cook Time: </label>
      <input type="text" class="form-control" name="cook_time" id="cook_time" placeholder="1-2 hours" required>
    </div>
    <div class="col-sm-12 col-md-2 col-lg-4">
      <label class="form-label" for="servings">Servings: </label>
      <input type="number" min="1" class="form-control" name="servings" id="servings" required>
    </div>
  </div>
  <div class="form-row">
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="form-group">
        <!--dynamically populates the select menu with course names-->
        <label for="course">Course Name: </label>
        <select class="form-control" name="course" id="course">
                <option disabled selected>Please choose...</option>
                {% for course in courses %}
                    <option value="{{course.course_name}}"> {{course.course_name}}</option>
                {% endfor %}
              </select>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <label for="cuisine">Cuisine Name:</label>
      <input type="text" class="form-control" name="cuisine" id="cuisine_name" placeholder="Cuisine Name" required>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4">
      <label for="basic-url">Allergens:</label>
      <button class="btn btn-outline-primary btn-allergen" type="button" data-toggle="collapse" data-target="#collapseAllergen" aria-expanded="false" aria-controls="collapseAllergen">Contains allergens... <i class="fas fa-chevron-down"></i><data-target></data-target></button>
      <div class="collapse" id="collapseAllergen">
        <!--check boxes to allow selection of potential allergens-->
        {% for allergen in allergens %}
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="{{allergen.allergen_name}}" name="allergen" id="allergen_name">
          <label class="form-check-label" for="{{allergen.allergen_name}}">{{allergen.allergen_name}}
                    </label>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="form-row" id="ingredients-row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <!-- input boxes to add ingredients one-by-one-->
      <label for="ingredient">Ingredients: </label>
      <input type="text" class="form-control" name="ingredient" id="ingredient" placeholder="20g plain flour sieved" required/>
      <input type="text" class="form-control" name="ingredient" id="ingredient" placeholder="20g plain flour sieved" required/>
      <input type="text" class="form-control" name="ingredient" id="ingredient" placeholder="20g plain flour sieved" required/>
      <input type="text" class="form-control" name="ingredient" id="ingredient" placeholder="20g plain flour sieved" required/>
      <!--buttons to add / remove input boxes-->
      <button type="button" class="new-input-btn btn-ingredient"><i class="fa fa-plus" aria-hidden="true"></i>
          </button>
      <button type="button" class="remove-input-btn btn-ingredient"><i class="fa fa-minus" aria-hidden="true"></i>
          </button>
    </div>
  </div>
  <div class="form-row">
    <label for="instructions">Instructions: </label>
    <textarea class="form-control" name="instructions" id="instructions" rows="8" required></textarea>
  </div>
  <div class="form-row">
    <div class="col-sm-12 col-md-6 offset-lg-2 offset-lg-2 col-lg-4">
      <!-- submit button to add new recipe to the database -->
      <button class="btn btn-primary btn-add" id="add-btn" type="submit" name="action">Add Recipe</button>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <!-- cancel button to undo any changes and return to previous page -->
      <a class="btn btn-primary btn-cancel" onclick="history.go(-1)">Cancel</a>
    </div>
  </div>
</form>
{% endblock %}