<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet"> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
    <title>Cookbook App</title>
</head>
<body>
  <header class="header">
 <nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">Online Cookbook</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('browse_recipes')}}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('add_recipe')}}">Add a recipe</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10">
            <h1> Online Cookbook</h1>
        </div>
    </div>
</div>
    </header>
    {% block content %}{% endblock %}
   </body> 
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"                                                integrity="sha256-FgpCb/KJQlLNfOu91t/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
       $(document).ready(function(){
          $('select').formSelect();
  });
    </script>
</body>
</html>