{% extends 'base.html' %}
    {% block content %}
    <div class="container">
        <h2>Browse Recipes</h2>
        <div classs="row">
            <!-- iterates through recipes in the database and displays name a picture for each -->
            {% for recipe in recipes %}
               <div class="col-sm-12 col-md-6 col-lg-4 loop-item">
                   <div class="card">
                      <img class="card-img-top" src="{{recipe.image_url}}" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">{{recipe.recipe_name}}</h5>
                            <a href="{{url_for('display_recipe', recipe_id=recipe._id)}}" class="btn btn-primary">View Recipe</a>
                        </div>
                    </div>
              </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}