{% extends 'base.html' %}
    {% block content %}
    <div class="container">
        <h2>Browse Recipes</h2>
        <form action="/browse_recipes" method="POST">
           <div class="row">
               <div class="col-sm-12 col-md-6 col-lg-4">
                   <div class="form-group">
                        <label for="course">Filter by course: </label>
                        <select class="form-control" name="course" id="coursetype">
                            <option selected>Please choose...</option>
                        {% for course in courses %}
                          <option value="{{course.course_name}}"> {{course.course_name}}</option>
                        {% endfor %}
                    </select>
                   </div>
               </div>
                 <div class="col-sm-12 col-md-6 col-lg-4">
                   <div class="form-group">
                        <label for="course">Filter by cuisine: </label>
                        <select name="cuisine" class="form-control" id="course">
                            <option selected>Please choose...</option>
                        {% for cuisine in cuisine %}
                              <option value="{{cuisine.cuisine_name}}"> {{cuisine.cuisine_name}}</option>
                         {% endfor %}
                    </select>
                   </div>
               </div>
           </div>
            <button type="Submit">Submit</button>
        </form>
      
        <div classs="row">
            <!-- iterates through recipes in the database and displays name and a picture for each -->
            {% for recipe in recipes %}
               <div class="col-sm-12 col-md-6 col-lg-4 loop-item">
                   <div class="card">
                        <img class="card-img-top" src="{{recipe.image_url}}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{recipe.recipe_name}}</h5>
                            <p class="card-details"> by {{recipe.author}} </p>
                            <a href="{{url_for('display_recipe', recipe_id=recipe._id)}}" class="btn btn-primary">View Recipe</a>
                        </div>
                    </div>
              </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}