{% extends 'base.html' %}
    {% block content %}
        <h2>Browse Recipes</h2>
        <form action="/browse_recipes" method="POST">
           <div class="row">
               <div class="col-sm-12 col-md-6 col-lg-4">
                   <div class="form-group">
                        <label for="course">Filter by course: </label>
                        <select class="form-control" name="course" id="course">
                            <option disabled selected>Please choose...</option>
                        {% for course in courses %}
                          <option value="{{course.course_name}}"> {{course.course_name}}</option>
                        {% endfor %}
                    </select>
                   </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                   <div class="form-group">
                        <label for="cuisine">Filter by cuisine: </label>
                        <select class="form-control" name="cuisine" id="cuisine">
                            <option disabled selected>Please choose...</option>
                            {% for cuisine in cuisine %}
                                  <option value="{{cuisine.cuisine_name}}"> {{cuisine.cuisine_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <label for="allergen">Exclude allergens: </label>
                        {% for allergen in allergens %}
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="{{allergen.allergen_name}}" name="allergen" id="allergen_name">
                              <label class="form-check-label" for="{{allergen.allergen_name}}">  {{allergen.allergen_name}}
                                </label>
                        </div>
                    {% endfor %} 
                </div>
            </div>
            <div class="form-row">
                 <div class="col-sm-6 col-md-6 offset-lg-3 col-lg-3">
                    <button class="btn btn-primary btn-filter" type="Submit">Filter Recipes</button> 
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <a href="{{url_for('browse_recipes', recipes=all_recipes)}}" class="btn btn-primary btn-cancel">Reset Filters</a>
                </div>
            </div>
        </form>
      
        <div classs="row">
            <!-- iterates through recipes in the database and displays name and a picture for each -->
            {% for recipe in recipes %}
               <div class="col-sm-12 col-md-6 col-lg-4 loop-item">
                  <a href="{{url_for('display_recipe', recipe_id=recipe._id)}}">
                   <div class="card">
                        <img class="card-img-top" src="{{recipe.image_url}}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{recipe.recipe_name}}</h5>
                            <p class="card-details"> by {{recipe.author}} </p>
                        </div>
                        <div class="card-footer text-muted">
                            <p class="card-details">{{recipe.cuisine_name}}</p>
                            {% if recipe.course_name == "Main" %}
                               <p class="card-details">  {{recipe.course_name}} Course</p>
                            {% else %}
                                <p class="card-details">{{recipe.course_name}}</p>
                            {% endif %}
                        </div>
                    </div>
                    </a>
              </div>
            {% endfor %}
        </div>
{% endblock %}