{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 offset-md-1 col-md-10 offset-lg-2 col-lg-8">
            <h4>{{recipe.author}}'s</h4>
        </div>
        <div class="col-sm-12 offset-md-1 col-md-10 offset-lg-2 col-lg-8">
            <h3>{{recipe.recipe_name}}</h3>
            <div class-"row">
                <div class="col-sm-8 offset-sm-2 recipe-info">
                    type: {{recipe.course_name}}
                </div>
                <div class="col-sm-8 offset-sm-2 recipe-info">
                    cuisine: {{recipe.cuisine}}
                </div> 
                <div class="col-sm-8 offset-sm-2 recipe-info">
                    cooktime: {{recipe.cooktime}}
                </div> 
                <div class="col-sm-8 offset-sm-2 recipe-info">
                    preptime: {{recipe.preptime}}
                </div> 
                <div class="col-sm-8 offset-sm-2 recipe-info">
                    serves: {{recipe.servings}}
                </div>
            </div>
        </div>
            <div class="col-sm-12 col-md-12 offset-lg-2 col-lg-8">
                <img src="{{recipe.image_url}}" alt="{{recipe.recipe_name}}"> 
            </div>
        </div>
          <div class="row">
            <div class="col-sm-12 offset-md-3 col-md-6">
                allergens:
                {% for allergen in recipe.allergens %}
                    <strong>{{allergen}} </strong>
                {% endfor %} 
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-12 offset-lg-2 col-lg-8">
                <h4>Ingredients</h4>
                  <ul>
                       <!--iterates through theallergens array and displays one at a time-->
                    {% for ingredient in recipe.ingredients %}
                    
                       <li class="recipe_ingredient">{{ingredient.quantity}} {{ingredient.name}}{{ingredient.details}} </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-12 offset-lg-2 col-lg-8">
                    <h4>Preparation </h4>
                    {{recipe.Instructions}} 
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                     <a href="" class="btn">Edit Recipe</a>
                </div>
                <div class="col-sm-12 col-md-6">
                     <a href="" class="btn">Delete Recipe</a>
                </div>
            </div>
    </div>
        
    {% endblock %}