{% extends 'base.html' %}
{% block content %}
<div class="container">
  <h2>Edit recipe</h2>
    <form action="{{ url_for('update_recipe', recipe_id=recipe._id)}}" method="POST" class="new-recipe">
      <div class="form-row">
        <div class="col-sm-12 col-md-12 col-lg-6">
          <label for="recipe_name">Recipe Name: </label>
          <input type="text" class="form-control" name="recipe_name" id="recipe_name" placeholder="Recipe Name" value="{{recipe.recipe_name}}">
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
          <label for="basic-url">Recipe image URL:</label>
          <input type="text" class="form-control"name="image_url" id="image_url" aria-describedby="basic-addon3" placeholder="https://recipes.com/image/" value="{{recipe.image_url}}">
        </div>
      </div>
      <div class="form-row">
        <div class="col-sm-12 col-md-12 col-lg-6">
          <label for="author">Recipe Author: </label>
          <input type="text" class="form-control" name="author" id="author" placeholder="Recipe Author" value="{{recipe.author}}">
        </div>
      </div>
      <div class="form-row">
        <div class="col-sm-12 col-md-6 col-lg-4">
          <label for="author">Prep Time: </label>
          <input type="text" class="form-control" name="prep_time" id="prep_time" placeholder="30mins-1hour" value="{{recipe.cook_time}}">
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <label for="author">Cook Time: </label>
          <input type="text" class="form-control" name="cook_time" id="cook_time" placeholder="1-2 hours" value="{{recipe.prep_time}}">
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <label class="form-label" for="Serving Size">Servings: </label>
          <input type="number" min="1" class="form-control" name="servings" id="servings" value="{{recipe.servings}}">
        </div>
      </div>
      <div class="form-row">
        <div class="col-sm-12 col-md-6">
          <label for="course_name">Course Name: </label>
          <input type="text" class="form-control" name="course_name" id="course" placeholder="{{recipe.course_name}}" value="{{recipe.course_name}}">
        </div>
        <div class="col-sm-12 col-md-6">
          <label for="cuisine">Cuisine Type: </label>
          <input type="text" class="form-control" name="cuisine_name" id="cuisine" placeholder="{{recipe.cuisine_name}}" value="{{recipe.cuisine_name}}">
        </div>
      </div>
      <div class="form-group">
          <label for="allergens">Allergens: </label>
            {% for allergen in allergens %}
              {% for allergen in recipe.allergens %}
              <div class="form-check-inline">
                {% if allergen.allergen_name == allergen %}
                   <input class="form-check-input" type="checkbox" value="{{allergen.allergen_name}}" name="allergen" id="allergen_name" checked>
                    <label class="form-check-label" for="{{allergen.allergen_name}}">
                    {{allergen.allergen_name}}</label>
                {% else %}
                    <input class="form-check-input" type="checkbox" value="{{allergen.allergen_name}}" name="allergen" id="allergen_name">
                    <label class="form-check-label" for="{{allergen.allergen_name}}">
                    {{allergen.allergen_name}}</label>
                {% endif %}
              </div>
              {% endfor %}
            {% endfor %}
      </div>
      <div class="form-group">
        <label for="ingredients">Ingredients: </label>
        {% for ingredient in recipe.ingredients %}
          <input type="text" class="form-control" name="ingredient" id="ingredients" placeholder="{{ingredient}}" value="{{ingredient}}">
        {% endfor %}
    </div>
    <button type="button" class="new-input-btn"><i class="fa fa-plus" aria-hidden="true"></i>
          </button>
        <button type="button" class="remove-input-btn"><i class="fa fa-minus" aria-hidden="true"></i>
          </button>
    <div class="form-group">
        <label for="instructions">Instructions: </label>
        <textarea class="form-control" name="Instructions" id="instructions" rows="8">{{recipe.Instructions}}</textarea>
    </div>
    <div class="row">
      <div class="col-sm-12 offset-md-3 col-md-6 offset-lg-4 col-lg-4">
        <button class="btn btn-primary btn-sm btn-edit" type="submit" name="action">Edit Recipe</button>
      </div>
    </div>
  </form>
</div>

{% endblock %}